/*********************
 Hero Section Styling 
**********************/

.hero_section {
  padding: 16px 24px;
}
.hero_inner {
  max-height: calc(100vh - 9rem - 2.5rem);
  overflow: hidden;
  position: relative;
  border-radius: 0.375rem;
}
.customVideoPl {
  bottom: 30px;
  right: 40px;
  z-index: 9;
  transition: all 0.3s ease-in-out;
}
.customVideoPl:hover {
  transform: scale(1.15);
  transition: all 0.3s ease-in-out;
}

.hero_section .video_hero_content {
  max-width: 756px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.video_hero_content .btn_light .Vista_btn {
  background-color: var(--black-color);
}
/*********************
 3d Text Animation Styling 
**********************/
.threeDAnimatedHeading_con {
  height: 92px;
  /* line-height: 55px; */
}

/*********************
 Home About Section Styling 
**********************/
.homeAboutSec {
  margin-top: 140px;
}
.homeAboutSec .vista_hos_title3 {
  font-size: 2.8em !important;
}
#animecolorheadingCon h3 {
  color: rgb(33, 37, 41) !important;
}
/*********************
 Marwuee Styling 
**********************/
.marqueeMain {
  position: relative;
}
.marqueeMain .slider h2 {
  position: relative;
  margin: 0px;
  font-family: var(--font-heading-light-italic);
}
.marqueeMain .slider h2:nth-of-type(2) {
  position: absolute;
  left: 100%;
  top: 0;
}
.marqueeMain .slider h2 .icon {
  width: 55px;
  display: inline-block;
  margin: 0 0.4em;
}
.marqueeMain .slider h2 .icon img {
  width: 100%;
}
.vista_hos_title2 span.marquessText {
  color: var(--white-color) !important;
}
/*********************
 Possibilities Styling 
**********************/
.possibilitiesSec .marquees_con {
  padding: 30px 20px;
  position: relative;
}
.possibilitiesSec .marquees_con::after,
.possibilitiesSec .marquees_con::before {
  content: "";
  width: 200px;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(
    to right,
    rgba(17, 16, 16, 1),
    rgba(0, 0, 0, 0)
  );
  z-index: 2;
}
.possibilitiesSec .marquees_con::after {
  right: 0;
  left: auto !important;
  background-image: linear-gradient(
    to left,
    rgba(17, 16, 16, 1),
    rgba(0, 0, 0, 0)
  );
}
/*********************
 Possibilities Btm Styling 
**********************/
.possibilities_card_item {
  padding: 0;
  position: relative;
  z-index: 2;
  border-right: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  -ms-flex: 0 0 20%;
  -webkit-box-flex: 0;
  flex: 0 0 20%;
  max-width: 20%;
}
.possibilities_card_item {
  flex: 0 0 calc(100% / 4);
  max-width: calc(100% / 4);
  height: 80vh;
}
.possibilities_card_item .poss_item_inner {
  padding: 40px 10px 40px 20px;
  position: relative;
  z-index: 2;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  overflow: hidden;
}
.possibilities_card_item .poss_item_inner::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0%;
  z-index: -1;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
.possibilities_card_item.active .poss_item_inner::after {
  height: 100%;
  background-color: var(--light-black);
  transition: all 0.4s;
}

/*********************
About Us Page Styling 
**********************/
.banner-aboutus {
  height: 500px;
  clear: both;
  width: 100%;
  position: relative;
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
}
.banner-bg-overlay {
  position: absolute;
  top: 0;
  left: 0;
  background-image: radial-gradient(
    ellipse at 50% 50%,
    rgba(0, 0, 0, 0.4),
    transparent 75%
  );
  transform: rotate(90deg);
}
.banner-linear-gradient {
  background-image: linear-gradient(180deg, #000 17%, transparent);
  height: 110px;
  position: absolute;
  top: auto;
  bottom: -20px;
  width: 100%;
  transform: rotate(180deg);
  z-index: 0;
}
/* Banner Section Ends */
.aboutus-con {
  padding: 20px 0 0 0;
  background-color: var(--bg-color);
}
.about-year h1,
.about-year h6 {
  color: var(--secondary-color) !important;
}
.about-year {
  position: absolute;
  top: -60px;
  right: -90px;
}
.about-img-left {
  height: 440px;
  width: 347px;
  object-fit: cover;
}
.about-img-left img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.about-img-right {
  height: 400px;
  width: 298px;
  position: absolute;
  right: -86px;
  top: 33%;
  object-fit: cover;
}
.about-img-right img {
  width: 100%;
  height: 100%;
}
/* About Us Section Ends */
.whatwedo-slider-control button {
  background-color: transparent !important;
  border: 0px;
}
.whatwedo-slider-control button.disable .slider-next,
.whatwedo-slider-control button.disable .slider-prev {
  background-color: #d7d7d7;
}
.whatwedo-slider-control button.disable .slider-next:hover,
.whatwedo-slider-control button.disable .slider-prev:hover {
  cursor: not-allowed;
}
.whatwedo-slider-control button.disable .slider-next:hover i,
.whatwedo-slider-control button.disable .slider-prev:hover i {
  color: var(--black-color) !important;
}
.slider-prev,
.slider-next {
  background: var(--white-color);
  border: 1px solid var(--white-color);
  height: 40px;
  width: 40px;
  line-height: 40px;
  border-radius: 50%;
  text-align: center;
}
.slider-prev:hover i,
.slider-next:hover i {
  color: var(--white-color) !important;
  transition: all 0.15s ease-in-out;
}
.slider-prev:hover,
.slider-next:hover {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
  transition: all 0.15s ease-in-out;
}
.mySwiper .whatwedo-col-card {
  padding: 2.5em 0;
  background: #171717;
  border-radius: 6px;
  position: relative;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: inline-block;
}
.whatwedo-col-card:hover,
.whatwedo-a:hover {
  background-color: var(--primary-color);
  color: var(--white-color);
  box-shadow: 0px 0px 40.5px -12px #fab81d45;
  transition: all 0.3s ease-in-out;
}
.whatwedo-col-card:hover {
  color: var(--white-color);
}
.whatwedo-col-card:hover .whatwedo-col-card-innercontent i {
  color: white !important;
}
.whatwedo-col-card:hover .whatwedo-a-svg-link svg {
  fill: #fff;
}
.whatwedo-services-item-link {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.whatwedo-col-card-innercontent,
.whatwedo-a-svg-link {
  padding: 0px 2em;
}
.whatwedo-col-card-innercontent i {
  font-size: 20px;
  font-weight: 400;
}
/* What We Do End */
/* !faq section css */
.skew__line-wrapper {
  position: relative;
  height: 250px;
}
.just-skewing {
  position: absolute;
  border-bottom: 4px solid var(--white-color);
  top: calc(50%);
  left: calc(50% - 75px);
  transform: skewY(-42deg);
  width: 30%;
}
.faq-headline h2 {
  font-size: 2.35em;
}
.swiper-container img {
  object-fit: cover;
  width: 100%;
  height: 600px;
  border-radius: 8px;
}
.wedding__FAQ-section .right-column .description {
  position: -webkit-sticky;
  position: sticky;
  top: 120px;
}
.autoplay-progress {
  position: absolute;
  right: 16px;
  bottom: 16px;
  z-index: 10;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: var(--white-color);
}

.autoplay-progress svg {
  --progress: 0;
  position: absolute;
  left: 0;
  top: 0px;
  z-index: 10;
  width: 100%;
  height: 100%;
  stroke-width: 4px;
  stroke: var(--secondary-color);
  fill: none;
  stroke-dashoffset: calc(125.6 * (1 - var(--progress)));
  stroke-dasharray: 125.6;
  transform: rotate(-90deg);
}
.wedding__FAQ-section .fuzzOverlay {
  z-index: 2;
}
.wedding__FAQ-section .swiper-pagination-bullet-active {
  background-color: var(--secondary-color) !important;
}
/* year section Ends */
/* Online Reservation Section Starts */
/* .online-reserv-row {
  padding: 6rem 0 5rem 0;
} */
.online-reserv-img,
.online-reserv-img img {
  /* height: 100%; */
  height: 680px;
  object-fit: cover;
  width: 100%;
}
.online-reserv-img .fuzzOverlay {
  z-index: 2;
}
.online-reserv-img video {
  left: -50%;
}
.or-slog-div {
  height: 200px;
  width: 300px;
  background: var(--secondary-color);
  position: absolute;
  right: -20px;
  bottom: 0;
}
.or-slog-div h3 {
  margin-left: 62px;
  color: var(--white-color);
}
.or-right-col {
  margin-left: 70px;
}
.subheading {
  color: var(--white-color);
  font-size: 15px;
}
/* .vista_hos_title2 span {
  color: var(--secondary-color);
} */
.or-feature-list {
  padding-right: 8px;
}
.or-list-margin-b {
  --tw-border-opacity: 1;
  padding: 5px 8px 15px 0px;
  border-bottom: 1px solid rgb(89 88 88 / var(--tw-border-opacity));
  width: fit-content;
}
.or-inner-content {
  color: var(--white-color);
}
/* Team Section Styling */
.Team_con .teamImg {
  height: 550px;
  object-fit: cover;
}
.Team_con .teamSlide .team_contact_con {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
}
.Team_con .teamSlide .team_contact_con .contact_inner {
  display: flex;
  flex-direction: column;
  padding: 0.6rem 30px 1rem;
  width: 100%;
  z-index: 2;
  backdrop-filter: blur(12px);
}
.Team_con .teamSlide .contact_inner .teamsub {
  font-size: 18px;
  color: var(--para-color);
}
.Team_con .teamSlide .contact_inner .designation {
  border-top: 1px solid #b3b3b3cc;
}
.Team_con .teamSlide .contact_inner .social_icon ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  margin-top: 5px;
}
.Team_con .teamSlide .contact_inner .social_icon ul li {
  margin-right: 10px;
}
.Team_con .teamSlide .contact_inner .social_icon ul li a {
  color: var(--white-color);
  transition: all 0.3s ease-in-out;
}
.Team_con .teamSlide .contact_inner .social_icon ul li:hover a {
  color: var(--secondary-color);
}
.Team_con .teamSlide .contact_inner .social_icon ul li:hover {
  transform: scale(1.1);
  transition: all 0.3s ease-in-out;
}
.Team_con .teamslider .swiper-button-prev:after,
.Team_con .teamslider .swiper-button-next:after {
  font-size: 16px;
  color: var(--para-color);
}
.Team_con .teamslider .slider-arrow {
  width: 35px;
  height: 35px;
  background-color: #181818;
  border: 1px solid var(--para-color);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
}
.Team_con .teamslider .slider-arrow:hover {
  background-color: var(--secondary-color);
  transition: all 0.2s ease-in-out;
  border-color: var(--secondary-color);
}
.Team_con .teamslider {
  position: relative;
  padding-bottom: 60px;
}

/* Stats CSS */
.stats_con .img_cover {
  position: relative;
}
.stats_con .img_cover img {
  width: 100%;
  height: 500px;
  object-fit: cover;
  border-radius: 50px;
}
.stats_con .img_cover .overlay {
  content: "";
  width: 100%;
  height: 200px;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(0, 0, 0, 0.3029586834733894) 20%,
    rgba(0, 0, 0, 0.7035189075630253) 50%,
    rgba(0, 0, 0, 1) 100%
  );
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
}
/* .stats_con .img_content{
  position: absolute;
  top: 0;
  left: 0;
} */
.stats_con .img_content .casa_features_con {
  width: 50%;
  display: flex;
  align-items: center;
}
.stats_con .img_content .casa_features_con .icon {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: var(--black-color);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
  transform: scale(1);
  animation: pulse 2s infinite;
  position: relative;
}
@keyframes pulse {
  0% {
    /* transform: scale(0.95); */
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
  }

  70% {
    /* transform: scale(1); */
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }

  100% {
    /* transform: scale(0.95); */
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}
.stats_con .img_content .casa_features_con .icon::after {
  content: "";
  background: repeating-linear-gradient(
    to right,
    transparent,
    transparent 3px,
    black 3px,
    black 12px
  );
  height: 2px;
  width: 70px;
  position: absolute;
  top: 50%;
  left: 100%;
}
.stats_con .img_content .casa_features_con .icon img {
  width: 50px;
  height: auto;
  position: relative;
}
.stats_con .img_content .casa_features_con .icon > div::before {
  content: "";
  background: repeating-linear-gradient(
    to right,
    transparent,
    transparent 3px,
    black 3px,
    black 12px
  );
  height: 2px;
  width: 70px;
  position: absolute;
  top: 0;
  left: 40%;
  transform: rotate(-45deg);
}
.stats_con .img_content .casa_features_con .icon > div::after {
  content: "";
  background: repeating-linear-gradient(
    to right,
    transparent,
    transparent 3px,
    black 3px,
    black 12px
  );
  height: 2px;
  width: 70px;
  position: absolute;
  bottom: 0;
  left: 40%;
  transform: rotate(45deg);
}
.stats_con .casa_features_con {
  position: absolute;
  top: calc(50% - 150px);
  left: calc(50% - 100px);
  width: 100%;
}
.stats_con .features ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}
.stats_con .features ul li:nth-child(1),
.stats_con .features ul li:nth-child(2) {
  margin-bottom: 30px;
}
.stats_con .features ul li:nth-child(2) {
  margin-left: 50px;
}
.stats_con .features ul li .list_wrapper {
  display: flex;
  align-items: center;
  background-color: #000000ce;
  width: fit-content;
  padding: 8px 12px;
  border-radius: 4px;
  color: var(--white-color);
}
.stats_con .features ul li .listicon {
  width: 20px;
  height: 20px;
  background-color: var(--primary-light);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 8px;
}
.stats_con .features ul li .listicon i {
  font-size: 14px;
  line-height: 1rem;
  color: var(--white-color);
}
.casaStatsCount_con h3 {
  font-size: 36px;
  font-weight: 300;
}
.casaStatsCount_con p {
  font-size: 16px;
  font-weight: 300;
  /* font-family: var(--font-heading-light); */
  font-family: var(--font-para);
}
.casaStatsCount_con {
  border-width: 1px 0px;
  border-style: solid;
  border-color: #595858;
  padding: 20px 0px;
  background-color: #11101052;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  position: absolute;
  bottom: 25px;
  left: 0;
  right: 0;
  z-index: 999;
}
.casaStatsCount_con h3 .suffix {
  color: var(--secondary-color);
  font-size: 28px;
  font-family: var(--font-para);
}

.bottomCta_sec .bottomCTA_title {
  font-size: clamp(
    6.494642050936818rem,
    1.7332999520276422rem + 20.315059622012484vw,
    26.111371498442622rem
  );
  font-family: var(--font-heading-light);
  margin: 0;
  white-space: nowrap !important;
  width: 100vw;
  line-height: 0.88;
  background-color: var(--black-color);
  mix-blend-mode: multiply;
  color: white;
  margin-bottom: -2px;
  margin-left: -8px;
}
.bottomCta_sec video {
  z-index: -1;
}
.bottomCta_sec .BottomCta_link .BottomCta_link_inner {
  height: 700px;
  background-color: #595858;
  padding: 40px;
  border-radius: 0.375rem;
  margin-top: 30px;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  transition-duration: 0.7s;
}
.bottomCta_sec .BottomCta_link .BottomCta_link_inner:hover {
  transform: scale(0.99);
  /* transition: all 0.3s ease-in-out; */
  transition-property: all;
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  transition-duration: 0.7s;
}
.bottomCta_sec .BottomCta_link .BottomCta_link_inner .icon {
  top: 40px;
  right: 40px;
  transform: rotate(-45deg);
}
/* !wedding Blog section */
.blog__card {
  height: 460px;
}
.blog__card .card {
  background-color: #111111;
  border-radius: 8px;
  border: 0.1rem solid #222222;
}
.card .inner--card {
  padding: 20px;
}
.Blog__section .upper-content-card .card_image-holder {
  width: 100%;
  height: 200px;
  transition: all 0.575s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.Blog__section .blog__card .card:hover .upper-content-card .card_image-holder {
  width: 100%;
  height: 225px;
  transition: all 0.575s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.Blog__section .upper-content-card .card_image-holder img {
  object-fit: cover;
  object-position: top;
  border-radius: 6px;
  background-position: center;
  width: 100%;
  height: 100%;
}
.blog__card .card_heading-holder .main--title a h4 {
  height: 58px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.Blog_section .secondery-button {
  display: flex;
  align-items: center;
}
.icon--holder i {
  margin-left: 0px;
  transition: all 0.3s ease-in-out;
}
.blog__card .card:hover .secondery-button .icon--holder i {
  padding-left: 10px !important;
  color: var(--secondary-color);
  transition: all 0.3s ease-in-out;
}
.blog__card .card:hover .secondery-button .read--more a {
  color: var(--secondary-color) !important;
  transition: all 0.3s ease-in-out;
}
.Blog__section .swiper .swiper-wrapper {
  position: relative;
}
.Blog__section .swiper::after,
.Blog__section .swiper::before {
  content: "";
  height: 93%;
  width: 250px;
  background-image: linear-gradient(
    to right,
    rgba(17, 16, 16, 1),
    rgba(0, 0, 0, 0)
  );
  position: absolute;
  top: -1.5%;
  left: 0;
  z-index: 9;
}
.Blog__section .swiper::after {
  left: auto;
  right: 0;
  background-image: linear-gradient(
    to left,
    rgba(17, 16, 16, 1),
    rgba(0, 0, 0, 0)
  );
}

/* Reviews Section Css */

.reviews_con .marquee .marquee-item.marquee-item-black {
  background-color: var(--black-color) !important;
}
.reviews_con .marquee .marquee-item.marquee-item-black .review_info::after {
  background-image: linear-gradient(to top, #000000, hsla(0, 3%, 6%, 0));
}
.reviews_con .marquee .marquee-item {
  background-color: #111010;
}
.reviews_con .marquee .marquee-item .review_info {
  max-height: 150px;
  min-height: 150px;
  color: #fff;
  color: rgb(255 255 255);
  overflow: hidden;
  position: relative;
  font-weight: 100;
}
.reviews_con .marquee .marquee-item .review_info::after {
  content: "";
  background-image: linear-gradient(to top, #111010, hsla(0, 3%, 6%, 0));
  bottom: 0;
  display: block;
  height: 100%;
  left: 0;
  pointer-events: none;
  position: absolute;
  width: 100%;
}
.reviews_con .marquee .marquee-item .review_info p.review {
  font-family: var(--font-para);
  font-size: 16px;
}
.reviews_con .marquee .marquee-item .review_info .name h2 {
  font-size: 24px;
  font-weight: 100;
  font-family: var(--font-heading-light);
}
.reviews_con .marquee .marquee-item .review_btm .rating_con i {
  background: rgb(225, 187, 100);
  background: linear-gradient(
    90deg,
    rgba(225, 187, 100, 1) 0%,
    rgba(186, 135, 75, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 20px;
  margin-right: 4px;
}
.reviews_con .marquee .marquee-item .review_btm {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.reviews_con .marquee .marquee-item .review_btm .btn_con button {
  font-size: 16px;
  font-weight: 100;
  color: var(--secondary-color);
  font-family: var(--font-link);
  font-weight: 100;
  background-color: transparent;
  border: none;
  letter-spacing: -2px;
}
.reviews_con .marquee {
  position: relative;
  z-index: 3;
  overflow: hidden;
}
.marquee-carousel.marquee-carousel-1 {
  margin-right: -300px;
  margin-bottom: 11px;
}

/*********************
 Events Pages Styling 
**********************/
/* Main Video Section Styling */
.mainVideoSec {
  height: 85vh;
  overflow: hidden;
  margin: 16px 24px;
  border-radius: 0.375rem;
}
.mainVideoSec .video_con {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  overflow: hidden;
  z-index: 0;
  direction: ltr;
}
.overlayblack {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  background-color: var(--black-color);
  opacity: 0.5;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.mainVideoSec .video_con video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* height: 100%; */
}
.mainVideoSec .mainVideoBookBtn {
  letter-spacing: -2px;
}
.mainVideoSec .videoIconCon .videoIconCon_wrapper {
  padding: 7px 7px 7px 7px;
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #cee8ff70;
  border-radius: 50px 50px 50px 50px;
}
.mainVideoSec .videoIconCon .videoIconCon_wrapper button {
  border-radius: 50px 50px 50px 50px;
  padding: 3px 0px 0px 4px;
  height: 75px;
  width: 75px;
  line-height: 75px;
  background-color: #cee8ff50;
  border-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 26px;
  color: var(--white-color);
  position: relative;
  z-index: 6;
  transition: all 0.4s ease;
  animation: pulseWhite 2s infinite;
}
@keyframes pulseWhite {
  0% {
    /* transform: scale(0.95); */
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
  }

  70% {
    /* transform: scale(1); */
    box-shadow: 0 0 0 17px rgba(255, 255, 255, 0);
  }

  100% {
    /* transform: scale(0.95); */
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
  }
}
.Event__feature-section .feature__image-wrapper img {
  width: 50px;
  height: auto;
}
/* faq css */
.faq_section .accordion-con .accordion-item-button i {
  font-size: 24px;
  color: var(--white-color);
}
.faq_section .accordion-con .accordion-item-button {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 16px 20px;
  text-align: left;
  background-color: var(--light-black);
  border: 0;
}
.faq_section .accordion-con .answers_con p {
  padding: 16px 20px;
}
.faqslider_con .fuzzOverlay {
  z-index: 3;
}
.faqslider_con {
  position: sticky;
  top: 100px;
}
/*********************
Wedding Event Pages Styling 
**********************/
.wedding__hero-section .heading__radial-gradient {
  align-content: center;
  align-items: center;
  background: radial-gradient(
    50% 50% at 50% 50%,
    rgba(222, 187, 22, 0.28) 0%,
    rgba(243, 220, 114, 0.1) 47.56750158361486%,
    rgba(252, 235, 158, 0.03) 82.88288288288288%,
    rgba(255, 240, 171, 0) 100%
  );
  display: flex;
  flex: none;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 10px;
  justify-content: center;
  overflow: hidden;
  padding: 0 25px;
  position: relative;
  width: 100%;
}
/*********************
 Wedding Photography Event Pages Styling 
**********************/
/* !Details of photographer section css & photography precious moment font css */

.photographer_detail-left .flower-image {
  position: absolute;
  top: calc(50% + 90px);
  left: calc(50% + 81px);
  transform: rotate(-34deg);
  z-index: 0;
}
.photographer_detail-left .photographer--image img,
.photographer_detail-right .photographer--image img {
  object-fit: cover;
  z-index: 3;
  height: 100%;
  border-radius: 7px;
  width: 100%;
}

.photographer_detail-left .flower-image {
  width: 212px;
  height: 212px;
}
.photographer_detail-left .flower-image img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.photographer_detail-left .photographer--image {
  height: 430px;
  width: 340px;
  /* width: 100%; */
  z-index: 9;
}
.photographer_detail-right-content {
  color: var(--white-color);
}

.sub--title span {
  color: var(--secondary-color);
  font-family: var(--font-link);
  font-size: 14px !important;
  letter-spacing: -2px;
}

/* 3D Card Styling */
.threeDCon {
  height: 400px;
  width: 100%;

  border-radius: 8px;
  border: 1px solid #222;
  box-shadow: 0px 0px 40px -20px hsla(0, 0%, 0%, 1);
  background-color: #00000030;
  /* transition: all 0.5s ease-in-out; */
}
.threeDCon:hover {
  border: 1px solid #444;
}
.inset-4 {
  inset: 1rem;
}
.threeDCardInner {
  /* background-color: #111010; */
  background-color: #151515d9;
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
  box-shadow: 0 0 #0000, 0 0 #0000, 0 0 #0000, 0 0 #0000,
    inset -1px -1px 0 0.5px #333;
  padding: 1rem;
}
.threeDCard_img img {
  width: 35%;
}
/* Animated Card Styling */
.animatedCard_sec {
  min-height: 25rem;
  height: 100%;
  padding: 2rem;
  background-color: #111010;
}
.animatedCard_sec .animatedCard_img_wrapper .fuzzOverlay {
  z-index: 9;
}

/* !photography wedding album section css */

.for-gap {
  column-gap: 170px;
}
.album__image--content {
  position: relative;
  z-index: 1;
}
.album__image--content .album__images--3 {
  position: absolute;
  bottom: calc(50% - 67px);
  right: calc(50% - 342px);
  z-index: -1;
  width: 400px;
  height: 220px;
  transform: rotate(-50deg);
}
.album__image--content .album__images--2 {
  position: absolute;
  bottom: calc(50% - 345px);
  left: calc(50% - 20px);
  width: 340px;
  height: 350px;
  z-index: 9;
}
.album__image--content .album__images--1 {
  height: 500px;
  width: 350px;
  z-index: 9;
  /* position: relative; */
}
.album__image--content .album__images--1 img,
.album__image--content .album__images--2 img,
.album__image--content .album__images--3 img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 7px;
}

/* !charity detail section css */
.cv-detail-img img {
  height: 100%;
  width: 100%;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 140px;
  border-bottom-left-radius: 25px;
}
.line__wrapper {
  width: 135px;
}
.small--line {
  border: 1.5px solid var(--secondary-color);
}
.vista--subtitle p {
  letter-spacing: 5px;
}
.cv-detail-img--right img {
  height: 550px;
  width: 100%;
  border-top-left-radius: 150px;
  border-top-right-radius: 20px;
}

/* !party page css */
.sun {
  border-radius: 50%;
  -webkit-backdrop-filter: blur(13px);
  background-color: rgba(217, 217, 217, 0.1);
  backdrop-filter: blur(13px);
  width: 168px;
  height: 168px;
  /* left: calc(50% + 216px); */
  left: calc(0px - 82px);
  bottom: calc(50% - 82px);
  z-index: 99;
}

.text {
  font-weight: 600;
  letter-spacing: 8px;
  font-size: 17px;
}
@keyframes rotate-circle {
  to {
    transform: rotate(1turn);
  }
}
#rotatingText {
  animation: rotate-circle 13s linear infinite;
}
/* !royal high-tea party page css */

.line {
  background-image: linear-gradient(
    90deg,
    transparent,
    var(--primary-color),
    transparent
  );
  height: 2px;
  width: 100%;
}

/* !hiphop party page css */
.party--details--sec .middle--image {
  top: calc(50% - 190px);
  left: 50%;
  width: 300px;
  height: 410px;
}
.party--details--sec .main-image {
  width: 100% !important;
  height: 560px !important;
}
.image__feature--text {
  top: calc(50% - 25px);
  left: calc(50% - 43px);
}

.Partyoverview__section .dotsImg {
  left: 50px;
  top: 200px;
  z-index: -1;
}
/* Responsoive STyles */

@media (min-width: 768px) {
  .marquee-carousel.marquee-carousel-1 {
    margin-bottom: 16px;
  }
}

@media (min-width: 1600px) {
  .marquee-carousel.marquee-carousel-1 {
    margin-bottom: 23px;
  }
}

.marquee-carousel.marquee-carousel-2 {
  margin-left: -300px;
}
.reviews_con .marquee-items {
  -webkit-transition-timing-function: cubic-bezier(0.16, 1, 0.3, 1) !important;
  -moz-transition-timing-function: cubic-bezier(0.16, 1, 0.3, 1) !important;
  -o-transition-timing-function: cubic-bezier(0.16, 1, 0.3, 1) !important;
  display: -webkit-box;
  position: relative;
  width: 100%;
  height: 150px;
  transition-timing-function: cubic-bezier(0.16, 1, 0.3, 1) !important;
}
@media (min-width: 768px) {
  .reviews_con .marquee-items {
    height: 200px;
  }
}

@media (min-width: 1600px) {
  .reviews_con .marquee-items {
    height: 200px;
  }
}
.reviews_con .marquee .marquee-item {
  padding: 16px 9.5px;
  border: 1px solid #5958587c;
}
.reviews_con .marquee-item {
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  overflow: hidden;
  width: 300px;
  height: 100%;
  margin-right: 11px;
}
@media (min-width: 768px) {
  .marquee-item {
    width: 250px;
    margin-right: 16px;
  }
}

@media (min-width: 1600px) {
  .marquee-item {
    width: 300px;
    margin-right: 23px;
  }
}

@media only screen and (max-width: 768px) {
  footer .footerBTmImg img {
    width: 60%;
  }
}

@media only screen and (max-width: 430px) {
  footer .footerBTmImg img {
    width: 90%;
  }
}
